$concrete: #f2f2f2;
$polo-blue: #8bb0d1;
$kashmir-blue: #4c7391;
$san-juan: #163D59; //$san-juan: #2a516d;
$tuscany: #c2672e; //$main-font: 'Noto Sans', sans-serif;
$main-font: 'Roboto', sans-serif;
$header-font: 'Roboto Slab', serif;

body {
  font: 100% $main-font;
}
