$concrete: #f2f2f2;
$concrete-lite: rgba(242,242,242,.85);
$polo-blue: #8bb0d1;
$kashmir-blue: #4c7391;
$san-juan: #163D59; //$san-juan: #2a516d;
$tuscany: #c2672e; //$main-font: 'Noto Sans', sans-serif;
$shadow-color: rgba(50,50,50, 1);
$main-font: 'Roboto', sans-serif;
$header-font: 'Roboto Slab', serif;

html{
  overflow-y: hidden;
}

body {
  font: 100% $main-font;
  background-image: url("./images/bg2.png");
}


.shadowed{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}
