
.foot-box {
  display: flex;
  flex-direction: column;
  background-color: $san-juan;
  max-width: 1880px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);

  .foot-box-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .foot-box-top-left {
      display: flex;
      justify-content: center;
      color: $concrete;
      font-size: 24px;
      font-weight: 300;
    }

    .foot-box-top-mid {
      .foot-box-top-mid-top {
        .soc-message {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          color: $concrete;
          font-size: 30px;
          font-weight: 300;
          font-style: italic;
        }
      }

      .foot-box-top-mid-bottom {
        .soc-icon-cont {
          display: flex;
          justify-content: center;
          align-items: flex-start;

          a {
            text-decoration: none;
            color: $kashmir-blue;
            padding: 10px 0 20px;
          }

          i {
            font-size: 40px;
            padding: 0 10px;
          }
        }
      }
    }

    .foot-box-top-right {
      display: flex;
      justify-content: center;
      color: $concrete;
      font-size: 24px;
      font-weight: 300;
    }
  }

  .foot-box-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
}
