/*TODO:
  clean up unused elements
  nest elements to reduce repetition
  fix media queries (resize icons / images for smaller screens) 821px?
  fix drop down elements
*/
html {
  overflow-y: hidden;
}

body {
  font: 100% "Roboto", sans-serif;
  background-image: url("./images/bg2.png");
}

.shadowed {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.topnav {
  max-width: 1880px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  justify-content: space-around;
  background-color: #163D59;
  min-height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}
.topnav .topnav-logo a {
  display: flex;
  max-width: 260px;
}
.topnav .topnav-links {
  display: flex;
  justify-content: space-between;
}
.topnav .topnav-links .dropbtn {
  cursor: pointer;
  background-color: inherit;
  border: none;
  outline: none;
}
.topnav .topnav-links .dropbtn:hover a {
  color: #8bb0d1;
}
.topnav .topnav-links a {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: 300;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}
.topnav .topnav-links a:hover {
  color: #8bb0d1;
}
.topnav .topnav-searchbar .search-form {
  width: 100%;
  position: relative;
}
.topnav .topnav-searchbar .searchTerm {
  float: left;
  width: 100%;
  border: 2px solid #333;
  padding: 5px;
  height: 20px;
  font-size: 18px;
  outline: none;
}
.topnav .topnav-searchbar .searchTerm:focus {
  color: #000;
}
.topnav .topnav-searchbar .searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 34px;
  border: 2px solid #000000;
  background: #f2f2f2;
  text-align: center;
  color: #000;
  cursor: pointer;
  font-size: 20px;
}

.foot-box {
  display: flex;
  flex-direction: column;
  background-color: #163D59;
  max-width: 1880px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}
.foot-box .foot-box-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.foot-box .foot-box-top .foot-box-top-left {
  display: flex;
  justify-content: center;
  color: #f2f2f2;
  font-size: 24px;
  font-weight: 300;
}
.foot-box .foot-box-top .foot-box-top-mid .foot-box-top-mid-top .soc-message {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
}
.foot-box .foot-box-top .foot-box-top-mid .foot-box-top-mid-bottom .soc-icon-cont {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.foot-box .foot-box-top .foot-box-top-mid .foot-box-top-mid-bottom .soc-icon-cont a {
  text-decoration: none;
  color: #4c7391;
  padding: 10px 0 20px;
}
.foot-box .foot-box-top .foot-box-top-mid .foot-box-top-mid-bottom .soc-icon-cont i {
  font-size: 40px;
  padding: 0 10px;
}
.foot-box .foot-box-top .foot-box-top-right {
  display: flex;
  justify-content: center;
  color: #f2f2f2;
  font-size: 24px;
  font-weight: 300;
}
.foot-box .foot-box-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.seals {
  height: 75px;
}

.page-wrap {
  height: 110vh;
  overflow: auto;
}

#hero {
  display: flex;
  margin-top: 20px;
  postiion: relative;
  max-width: 1880px;
}

.main {
  display: inline-flex;
  margin: 25px;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.main .contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 25px;
  justify-content: space-around;
}
.main .contents .contents-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 22px;
  max-width: 350px;
  background-color: rgba(242, 242, 242, 0.85);
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}
.main .contents .contents-panel img {
  max-width: 350px;
}
.main .contents .contents-panel .contents-panel-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
}
.main .contents .contents-panel a {
  text-decoration: none;
}
.main .contents .contents-panel a p {
  text-align: right;
  font-size: 20px;
  color: #163D59;
  padding-right: 35px;
  font-weight: 400;
  font-style: italic;
}
.main .contents .contents-panel a p:hover {
  color: #8bb0d1;
}
.main .contents .contents-panel .contents-panel-headline {
  text-align: left;
  color: #4c7391;
}
.main .contents .contents-panel .contents-panel-headline p {
  color: #163D59;
  font-size: 24px;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
}
.main .side-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main .side-box .calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  background-color: rgba(242, 242, 242, 0.85);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}
.main .side-box .calendar .calendar-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #4c7391;
  text-align: center;
  padding-top: 25px;
  text-decoration: underline;
  font-weight: 300;
}
.main .side-box .calendar .calendar-entry {
  display: flex;
  flex-direction: row;
}
.main .side-box .calendar .calendar-entry .calendar-entry-cal-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 22px;
}
.main .side-box .calendar .calendar-entry .calendar-entry-cal-date .calendar-entry-day,
.main .side-box .calendar .calendar-entry .calendar-entry-cal-date .calendar-entry-month {
  font-weight: 300;
  color: #4c7391;
}
.main .side-box .calendar .calendar-entry .calendar-entry-cal-date .calendar-entry-date {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  color: #163D59;
}
.main .side-box .calendar .calendar-entry .calendar-entry-info {
  padding-left: 30px;
}
.main .side-box .calendar .calendar-entry .calendar-entry-info .calendar-entry-info-title {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  color: #163D59;
}
.main .side-box .video {
  display: flex;
  background-color: rgba(242, 242, 242, 0.85);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  padding: 22px;
}
.main .side-box .video iframe {
  width: 450px;
  height: 253px;
}

.research-content-outer-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 50px 100px;
}
.research-content-outer-box .research-content-inner-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.research-content-outer-box .research-content-inner-box .research-content-heading {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 100px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
  text-align: center;
  margin: 20px 0;
}
.research-content-outer-box .research-content-inner-box .research-content-heading h1 {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  color: #4c7391;
}
.research-content-outer-box .research-content-inner-box .research-content-panels-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 0;
}
.research-content-outer-box .research-content-inner-box .research-content-panels-box .research-content-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 22px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}
.research-content-outer-box .research-content-inner-box .research-content-panels-box .research-content-panel .research-content-panel-info {
  max-width: 700px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
  margin: 40px;
}
.research-content-outer-box .research-content-inner-box .research-content-panels-box .research-content-panel .research-content-panel-info .research-content-panel-info-heading {
  text-align: left;
  font-family: "Roboto Slab", serif;
  font-size: 22px;
  color: #4c7391;
}
.research-content-outer-box .research-content-inner-box .research-content-panels-box .research-content-panel .research-content-panel-status {
  max-width: 300px;
}

.energy-content-outer-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px 100px 50px 100px;
}
.energy-content-outer-box .energy-content-inner-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  padding: 22px;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}
.energy-content-outer-box .energy-content-inner-box .energy-content-image {
  padding: 22px;
}
.energy-content-outer-box .energy-content-inner-box .energy-content-info {
  max-width: 575px;
  padding: 22px;
}
.energy-content-outer-box .energy-content-inner-box .energy-content-info .energy-content-info-heading {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  text-align: center;
  color: #4c7391;
}
.energy-content-outer-box .energy-content-inner-box .energy-content-info .energy-content-info-text {
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
}
.energy-content-outer-box .energy-content-inner-box .chart-content {
  margin: 20px;
  padding: 22px;
  max-width: 900px;
}
.energy-content-outer-box .energy-content-inner-box .chart-content .energy-content-info-heading {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  text-align: center;
  color: #4c7391;
}
.energy-content-outer-box .energy-content-inner-box .chart-content .energy-content-info-text {
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
  justify-content: center;
}

.chart-margin {
  flex-direction: row;
}

.shadowed {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.buffer {
  min-height: 118px;
}

@media screen and (max-width: 1900px) {
  .main {
    flex-direction: column;
  }

  .side-box {
    flex-direction: row;
  }
}
@media screen and (max-width: 1680px) {
  .topnav {
    flex-direction: column;
  }
}
@media screen and (max-width: 893px) {
  .contents-panel {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .topnav-links {
    flex-direction: column;
    justify-content: flex-start;
  }

  .topnav-searchbar .search-form {
    left: -10px;
  }
}

/*# sourceMappingURL=styles.css.map */
