/*TODO:
  clean up unused elements
  nest elements to reduce repetition
  fix media queries (resize icons / images for smaller screens) 821px?
  fix drop down elements
*/
@import 'base';
@import 'topnav';
@import 'footer';

.page-wrap {
  height: 110vh;
  overflow: auto;
}

#hero {
  display: flex;
  margin-top: 20px;
  position: relative;
  max-width: 1880px;
}

.main {
  display: inline-flex;
  margin: 25px;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

  .contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 25px;
    justify-content: space-around;

    .contents-panel {
      display: flex;
      //flex-wrap: nowrap;
      flex-direction: column;
      justify-content: space-between;
      padding: 22px;
      max-width: 350px;
      background-color: $concrete-lite;
      margin: 15px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);

      img {
        max-width: 350px;
      }

      .contents-panel-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.7;
      }

      a {
        text-decoration: none;

        p {
          text-align: right;
          font-size: 20px;
          color: $san-juan;
          padding-right: 35px;
          font-weight: 400;
          font-style: italic;

          &:hover {
            color: $polo-blue;
          }
        }
      }

      .contents-panel-headline {
        text-align: left;
        color: $kashmir-blue;

        p {
          color: $san-juan;
          font-size: 24px;
          font-weight: 400;
          font-family: $header-font;
        }
      }
    }
  }

  .side-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .calendar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 500px;
      background-color: $concrete-lite;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);

      .calendar-title {
        font-family: $main-font;
        font-size: 36px;
        color: $kashmir-blue;
        text-align: center;
        padding-top: 25px;
        text-decoration: underline;
        font-weight: 300;
      }

      .calendar-entry {
        display: flex;
        flex-direction: row;

        .calendar-entry-cal-date {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-left: 22px;

          .calendar-entry-day,
          .calendar-entry-month {
            font-weight: 300;
            color: $kashmir-blue;
          }

          .calendar-entry-date {
            font-family: $header-font;
            font-size: 24px;
            color: $san-juan;
          }
        }

        .calendar-entry-info {
          padding-left: 30px;

          .calendar-entry-info-title {
            font-family: $header-font;
            font-size: 24px;
            color: $san-juan;
          }
        }
      }
    }

    .video {
      display: flex;
      background-color: $concrete-lite;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
      padding: 22px;

      iframe {
        width: 450px;
        height: 253px;
      }
    }
  }
}

.research-content-outer-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 50px 100px;

  .research-content-inner-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    //margin: 20px;
    .research-content-heading {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      padding: 0 100px;
      background-color: $concrete;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
      font-family: $main-font;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.7;
      text-align: center;

      h1 {
        font-family: $header-font;
        font-size: 30px;
        color: $kashmir-blue;
      }
      margin: 20px 0;
    }

    .research-content-panels-box {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 20px 0;

      .research-content-panel {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 22px;
        background-color: $concrete;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);

        .research-content-panel-image {
          //max-width: 455px;
        }

        .research-content-panel-info {
          max-width: 700px;
          font-family: $main-font;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.7;
          margin: 40px;

          .research-content-panel-info-heading {
            text-align: left;
            font-family: $header-font;
            font-size: 22px;
            color: $kashmir-blue;
          }
        }

        .research-content-panel-status {
          max-width: 300px;
          //font-weight: 300;
        }
      }
    }
  }
}

.energy-content-outer-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px 100px 50px 100px;

  .energy-content-inner-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $concrete;
    padding: 22px;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);

    .energy-content-image {
      padding: 22px;
    }

    .energy-content-info {
      max-width: 575px;
      padding: 22px;

      .energy-content-info-heading {
        font-family: $header-font;
        font-size: 30px;
        text-align: center;
        color: $kashmir-blue;
      }

      .energy-content-info-text {
        font-family: $main-font;
        padding-top: 20px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.7;
      }
    }

    .chart-content{
      margin: 20px;
      padding:22px;
      max-width: 900px;
      .energy-content-info-heading {
        font-family: $header-font;
        font-size: 30px;
        text-align: center;
        color: $kashmir-blue;
      }

      .energy-content-info-text {
        font-family: $main-font;
        padding-top: 20px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.7;
        justify-content: center;
      }
    }
  }
}


.shadowed {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.buffer {
  min-height: 118px;
}
@media screen and (max-width: 1900px) {
  .main {
    flex-direction: column;
  }

  .side-box {
    flex-direction: row;
  }
}
@media screen and (max-width: 1680px) {
  .topnav {
    flex-direction: column;
  }
}
@media screen and (max-width: 893px) {
  .contents-panel {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .topnav-links {
    flex-direction: column;
    justify-content: flex-start;
  }

  .topnav-searchbar .search-form {
    left: -10px;
  }
}
