/*TODO:
  clean up unused elements
  nest elements to reduce repetition
  fix media queries (resize icons / images for smaller screens)
  fix drop down elements
*/
@import './reset.css';
$concrete: #f2f2f2;
$polo-blue: #8bb0d1;
$kashmir-blue: #4c7391; //$san-juan: #2a516d;
$san-juan: #163D59;
$tuscany: #c2672e; //$main-font: 'Noto Sans', sans-serif;
$main-font: 'Roboto', sans-serif;

body {
  font: 100% $main-font;
  background-color: $concrete;
}

#footer-container,
.topnav {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  background-color: $kashmir-blue;

  .nav-logo {
    height: 100px;
  }

  a {
    color: $concrete;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
  }

  a:hover {
    color: $polo-blue;
  }

  .search-container {
    //float: right;
    //text-align: center;
  }

  input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    display: inline-block;
  }

  .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .icon {
    display: none;
  }
}
/*
//Clean me up
.active {
  //background-color: $polo-blue;
  color: $concrete;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.dropdown {
  float: left;
  overflow: hidden;
  .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $san-juan;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  a {
    float: none;
    //color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  a:hover {
    background-color: $concrete;
    color: black;
  }

}



.dropdown:hover .dropbtn,
 {
  //background-color: $san-juan;
  color: $polo-blue;
  //color: $concrete;
}


.dropdown:hover .dropdown-content {
  display: block;
}
*/

#hero {
  postiion: relative;
}

#hero-content {
  position: absolute;
  top: 150px;
  left: 75px;
  padding: 20px;
  background-color: rgba(42,81,109,.4);
  color: #ffffff;
  font-size: 35px;
  font-style: italic;
  font-weight: 500;
}

.fab {
  font-size: 100px;
}
/*/
// main content styling --------------------------------------------*/

.content-grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.1fr;
  grid-template-areas: "content-top" "content-bottom";
}

.content-top {
  grid-area: content-top;
  border-style: solid;
  border-width: medium;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 20px;
  padding: 50px 500px 50px 50px;

  img {
    height: 150px;
  }
}

.content-bottom {
  display: grid;
  grid-area: content-bottom;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "content-bottom-left content-bottom-mid content-bottom-right";
}

.content-bottom-left {
  grid-area: content-bottom-left;
  border-style: solid;
  border-width: medium;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-bottom-mid {
  grid-area: content-bottom-mid;
  border-style: solid;
  border-width: medium;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-bottom-right {
  grid-area: content-bottom-right;  border-style: solid;
    border-width: medium;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Grid for footer------------------------------------------------------*/
.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1.6fr 0.4fr;
  grid-template-areas: "foot-cont-top" "foot-cont-bottom";
  background-color: $kashmir-blue;
}

.foot-cont-top {
  display: grid;
  grid-area: foot-cont-top;
  grid-template-columns: 0.8fr 1.4fr 0.8fr;
  grid-template-rows: 1fr;
  grid-template-areas: "foot-top-left-cont foot-top-mid-cont foot-top-right-cont";
}

.foot-top-left-cont {
  grid-area: foot-top-left-cont;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.foot-top-mid-cont {
  display: grid;
  grid-area: foot-top-mid-cont;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "foot-top-mid-upper-cont" "foot-top-mid-lower-cont";
}

.foot-top-mid-upper-cont {
  grid-area: foot-top-mid-upper-cont;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 150px;
  }
}

.foot-top-mid-lower-cont {
  grid-area: foot-top-mid-lower-cont;
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    text-decoration: none;
    color: $san-juan;
  }
}

.foot-top-right-cont {
  grid-area: foot-top-right-cont;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $concrete;
  font-size: 20px;
  font-weight: 300;
}

.foot-cont-bottom {
  grid-area: foot-cont-bottom;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  //align-items: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  border-style: solid;
  border-color: black;
  border-width: medium;
  flex-shring: 1;
}

.seals {
  //padding-left: 10px;
  //padding-right: 10px;
}
/*Media Queries-----------------------------------------------------------------*/
//fix me
@media screen and (max-width: 600px) {
  .dropdown .dropbtn,
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }

  .topnav .search-container button,
  .topnav a,
  .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown {
    float: none;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
